<div class="search-section" ng-controller="legalAreaListController">
    <div class="search-content h-100">
        <div class="search-title">
            <h1>What can we help you with today?</h1>
        </div>


        <!--tabs starts  here-->
        <div class="search-body">

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="site-tab" data-toggle="tab" href="#siteContent1" role="tab" aria-controls="site" aria-selected="true">Site Content</a>
                        </li>
                       <!-- <li class="nav-item">
                            <a class="nav-link" id="lpg-tab" data-toggle="tab" href="#lpgContent1" role="tab" aria-controls="lpg" aria-selected="false">LPG Staff</a>
                        </li>-->

                    </ul>
                </div>
            </div>
            <div class="search-bg tab-content">
                <!-- list items starts here-->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="siteContent1" role="tabpanel" aria-labelledby="site-tab">
                        <div class="row">
                            <div class="input-group col-md-10 mar-0-c-2">
                                <input class="form-control py-2 border-right-0 border" type="search" placeholder="documents, articles, guidelines..." id="example-search-input">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-secondary border-left-0 border" type="button">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <ul ng-repeat="legalArea in lpgArea[0]">
                                    <li>
                                        <a href="{{legalArea.url}}" target="{{ legalArea.nav_isOpenInNewWindow ? '_blank' : '_self'}}">{{legalArea.title}}
                                            <i ng-if=" legalArea.nav_isOpenInNewWindow" class="fas fa-external-link-alt"></i>
                                        </a>
                                        <li class="search-sub-links" ng-if="legalArea.subArea.length > 0 ">
                                            <span ng-repeat="lpg in legalArea.subArea">{{lpg.Title}}<span ng-if="!$last">,&nbsp;</span> </span>
                                        </li>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul ng-repeat="legalArea in lpgArea[1]">
                                    <li>
                                        <a href="{{legalArea.url}}" target="{{ legalArea.nav_isOpenInNewWindow ? '_blank' : '_self'}}">{{legalArea.title}}
                                            <i ng-if=" legalArea.nav_isOpenInNewWindow" class="fas fa-external-link-alt"></i>
                                        </a>
                                        <li class="search-sub-links" ng-if="legalArea.subArea.length > 0 ">
                                            <span ng-repeat="lpg in legalArea.subArea">{{lpg.Title}}<span ng-if="!$last">,&nbsp;</span></span>
                                        </li>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul ng-repeat="legalArea in lpgArea[2]">
                                    <li>
                                        <a href="{{legalArea.url}}" target="{{ legalArea.nav_isOpenInNewWindow ? '_blank' : '_self'}}">{{legalArea.title}}
                                            <i ng-if=" legalArea.nav_isOpenInNewWindow" class="fas fa-external-link-alt"></i>
                                        </a>
                                        <li class="search-sub-links" ng-if="legalArea.subArea.length > 0 ">
                                            <span ng-repeat="lpg in legalArea.subArea">{{lpg.Title}}<span ng-if="!$last">,&nbsp;</span></span>
                                        </li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <span style="float: right;">
                                    <i class="fas fa-external-link-alt"></i>&nbsp;Takes you to different site</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/SiteAssets/Legal/App/legalAreaList/legalAreaListController.js"></script>
<link rel="stylesheet" href="/SiteAssets/Legal/App/legalAreaList/legalAreaList.css">