<nav class="navbar navbar-expand-lg  navbar-light top-navbar">
  <div ng-controller='NavigationController' class="m-o-c">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" ng-repeat="TermSets in NavigationItems">
          <a ng-href="{{TermSets.SimpleUrl}}" id="navbarDropdown" ng-class="{'nav-link dropdown-toggle': TermSets.Nodes.results.length > 0, 'nav-link active': TermSets.Nodes.results.length === 0}"
            data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{TermSets.Title}} </a>
          <div ng-class="{'dropdown-menu': TermSets.Nodes.results.length > 0, 'nav-link active': TermSets.Nodes.results.length === 0, 'width-60':TermSets.Title =='Legal Areas' || TermSets.Title =='LPG Groups'}"
            aria-labelledby="navbarDropdown">
            <div class="dis-table" ng-class="{'navbar-legalArea-column-container':TermSets.Title =='Legal Areas'}">
              <div class="nav-item" ng-class="{'dis-table-cel': TermSets.Title !='Legal Areas' && Termset.Nodes.results.length > 0  } "
                ng-show="TermSets.Nodes.results.length > 0 " ng-repeat="Termset in TermSets.Nodes.results">
                <a class="nav-link" ng-class="{'sub-link-title': Termset.Nodes.results.length > 0, 'nav-link': Termset.Nodes.results.length === 0}"
                  ng-if="TermSets.Nodes.results.length > 0 && TermSets.Title !='LPG Groups'" ng-href="{{Termset.SimpleUrl}}">{{Termset.Title}} <i ng-if="isTermsetExternal(Termset)" class="fas fas fa-external-link-alt"></i></a>
                <span class="sub-link-title" ng-if="TermSets.Nodes.results.length > 0 && TermSets.Title =='LPG Groups'">{{Termset.Title}}</span>
                <ul class="nav flex-column" ng-if=" TermSets.Title !='Legal Areas' && Termset.Nodes.results.length > 0">
                  <li class="nav-item " ng-repeat="Terms in Termset.Nodes.results">
                    <a class="nav-link" ng-href="{{Terms.SimpleUrl}}">{{Terms.Title}} <i ng-if=" isTermsetExternal(Terms)" class="fas fas fa-external-link-alt"></i></a>
                  </li>
                </ul>
                <ul class="nav flex-column sub-links" ng-if="TermSets.Title=='Legal Areas' && Termset.Nodes.results.length > 0">
                  <li class="nav-item" ng-repeat="Terms in Termset.Nodes.results">
                    <a class="nav-link" ng-href="{{Terms.SimpleUrl}}">{{Terms.Title}} <i ng-if=" isTermsetExternal(Terms)" class="fas fas fa-external-link-alt"></i></a>
                  </li>
                </ul>
              </div>
           
            </div>
            <div  ng-show="TermSets.Title =='Legal Areas' || TermSets.Title =='LPG Groups' " class="row" style="margin-top: 10px;">
              <div class="col-md-8"></div>
              <div class="col-md-4">
                  <span style="float: right;">
                      <i class="fas fas fa-external-link-alt ng-scope"></i>Takes you to different site</span>
              </div>
          </div>
          </div>

          
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<script src="https://dev-legal.intel.com/SiteAssets/Legal/App/TopNavigation/LP_TopNav.js"> </script>
<link rel="stylesheet" href="https://dev-legal.intel.com/SiteAssets/Legal/App/TopNavigation/LP_TopNav.css">